
// @mixin responsive-radius($screen, $size) {
//   $lengths: map-get($spacers, $size);
//   $length-x: map-get(map-get($spacers, $size), x);
//
// }

@each $size, $lengths in $spacers {
  $length-x:   map-get($lengths, x);

  .border-radius-#{$size} {
    border-radius: $length-x !important;
  }

  .border-top-radius-#{$size} {
    border-top-left-radius: $length-x !important;
    border-top-right-radius: $length-x !important;
  }

  .border-bottom-radius-#{$size} {
    border-bottom-left-radius: $length-x !important;
    border-bottom-right-radius: $length-x !important;
  }

  .border-left-radius-#{$size} {
    border-top-left-radius: $length-x !important;
    border-bottom-left-radius: $length-x !important;
  }

  .border-right-radius-#{$size} {
    border-top-right-radius: $length-x !important;
    border-bottom-right-radius: $length-x !important;
  }
}

@include media-breakpoint-up(sm) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x:   map-get($lengths, x);
      $length-y:   map-get($lengths, y);

      .#{$abbrev}-a-#{$size}-sm-up { #{$prop}:        $length-y $length-x !important; } // a = All sides
      .#{$abbrev}-t-#{$size}-sm-up { #{$prop}-top:    $length-y !important; }
      .#{$abbrev}-r-#{$size}-sm-up { #{$prop}-right:  $length-x !important; }
      .#{$abbrev}-b-#{$size}-sm-up { #{$prop}-bottom: $length-y !important; }
      .#{$abbrev}-l-#{$size}-sm-up { #{$prop}-left:   $length-x !important; }

      // Axes
      .#{$abbrev}-x-#{$size}-sm-up {
        #{$prop}-right:  $length-x !important;
        #{$prop}-left:   $length-x !important;
      }
      .#{$abbrev}-y-#{$size}-sm-up {
        #{$prop}-top:    $length-y !important;
        #{$prop}-bottom: $length-y !important;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x:   map-get($lengths, x);
      $length-y:   map-get($lengths, y);

      .#{$abbrev}-a-#{$size}-xs { #{$prop}:        $length-y $length-x !important; } // a = All sides
      .#{$abbrev}-t-#{$size}-xs { #{$prop}-top:    $length-y !important; }
      .#{$abbrev}-r-#{$size}-xs { #{$prop}-right:  $length-x !important; }
      .#{$abbrev}-b-#{$size}-xs { #{$prop}-bottom: $length-y !important; }
      .#{$abbrev}-l-#{$size}-xs { #{$prop}-left:   $length-x !important; }

      // Axes
      .#{$abbrev}-x-#{$size}-xs {
        #{$prop}-right:  $length-x !important;
        #{$prop}-left:   $length-x !important;
      }
      .#{$abbrev}-y-#{$size}-xs {
        #{$prop}-top:    $length-y !important;
        #{$prop}-bottom: $length-y !important;
      }
    }
  }
}
