$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
 0: (
   x: 0,
   y: 0
 ),
 1: (
   x: $spacer-x,
   y: $spacer-y
 ),
 2: (
   x: ($spacer-x * 1.5),
   y: ($spacer-y * 1.5)
 ),
 3: (
   x: ($spacer-x * 3),
   y: ($spacer-y * 3)
 ),
 '025': (
   x: ($spacer-x * 0.25),
   y: ($spacer-y * 0.25)
 ),
 '05': (
   x: ($spacer-x * 0.5),
   y: ($spacer-y * 0.5)
 ),
 '075': (
   x: ($spacer-x * 0.75),
   y: ($spacer-y * 0.75)
 )
);
